@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #021526;
    font-family: "Poppins", sans-serif;
}

h1, p, div, a {
    color: #E2E2B6;
}

.header {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    background: rgb(3,52,110);
    background: linear-gradient(180deg, rgba(3,52,110,1) 18%, rgba(2,21,38,1) 71%); 
}

.header-name {
    font-size: 80px;
    margin: 0;
}

.header-desc {
    font-size: 30px;
    margin: 0;
    color: #6EACDA;
}

.profile-img {
    border-radius: 500px;
    border: 10px solid #6EACDA;
}

.about-me {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 100px;
}

.section-heading {
    font-size: 50px;
    text-decoration: underline;
}

.aboutme-desc {
    font-size: 20px;
    color: #6EACDA;
}

.tech {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 100px;
}

.cards-wrapper {
    display: flex;
    /* flex-wrap: wrap; */
}

.card {
    background-color: #03336e81;
    padding: 50px 60px;
    margin: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #85b7de;
    border-radius: 10px;
}

.card:hover{
    background-color: #85b7de;
    color: #03336e81;
}

.achievements {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 100px;
}

footer {
    background-color: #03346E;
    padding: 50px 60px;
}

footer a {
    margin: 0px 10px;
}
